USE [master]
GO
/****** Object:  Database [ASM_JAVA5]    Script Date: 7/3/2026 2:09:16 PM ******/
CREATE DATABASE [ASM_JAVA5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASM_JAVA5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASM_JAVA5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASM_JAVA5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASM_JAVA5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASM_JAVA5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASM_JAVA5]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/3/2026 2:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 7/3/2026 2:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[DiscountPercent] [decimal](5, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductFinalPrice]    Script Date: 7/3/2026 2:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================
-- VIEW: giá sản phẩm sau khi áp khuyến mãi đang hoạt động (nếu có)
-- =====================================================================
CREATE VIEW [dbo].[vw_ProductFinalPrice] AS
SELECT
    p.Id,
    p.Name,
    p.Price AS OriginalPrice,
    pr.DiscountPercent,
    CASE
        WHEN pr.Id IS NOT NULL THEN ROUND(p.Price * (1 - pr.DiscountPercent / 100.0), 0)
        ELSE p.Price
    END AS FinalPrice
FROM dbo.Products p
OUTER APPLY (
    SELECT TOP 1 pm.Id, pm.DiscountPercent
    FROM dbo.Promotions pm
    WHERE pm.ProductId = p.Id
      AND pm.IsActive = 1
      AND CAST(GETDATE() AS DATE) BETWEEN pm.StartDate AND pm.EndDate
    ORDER BY pm.DiscountPercent DESC
) pr;
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 7/3/2026 2:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Photo] [nvarchar](255) NULL,
	[IsActivated] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 7/3/2026 2:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[AccountId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/3/2026 2:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 7/3/2026 2:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[DiscountType] [tinyint] NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[MinOrderValue] [decimal](18, 2) NOT NULL,
	[MaxUsage] [int] NULL,
	[UsedCount] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 7/3/2026 2:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/3/2026 2:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[CouponId] [int] NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Status] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 7/3/2026 2:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageUrl] [nvarchar](255) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[AiLabels] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [Username], [PasswordHash], [FullName], [Email], [Photo], [IsActivated], [IsAdmin], [CreatedAt]) VALUES (1, N'NV001', N'123456', N'Nguyễn Anh Khoa', N'khoanaps39026@gmail.com', N'blank.jpg', 1, 1, CAST(N'2026-07-03T11:32:37.260' AS DateTime))
INSERT [dbo].[Accounts] ([Id], [Username], [PasswordHash], [FullName], [Email], [Photo], [IsActivated], [IsAdmin], [CreatedAt]) VALUES (2, N'NV002', N'123456', N'Vũ Quang Trung', N'trungvqps39100@gmail.com', N'blank.jpg', 1, 0, CAST(N'2026-07-03T11:32:37.260' AS DateTime))
INSERT [dbo].[Accounts] ([Id], [Username], [PasswordHash], [FullName], [Email], [Photo], [IsActivated], [IsAdmin], [CreatedAt]) VALUES (3, N'NV003', N'123456', N'Trần Thị Thùy Tiên', N'tientttps39307@gmail.com', N'blank.jpg', 1, 1, CAST(N'2026-07-03T11:32:37.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
INSERT [dbo].[Carts] ([AccountId], [ProductId], [Quantity]) VALUES (2, 19, 1)
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [IsDeleted]) VALUES (1, N'Áo Thun', 0)
INSERT [dbo].[Categories] ([Id], [Name], [IsDeleted]) VALUES (2, N'Áo Khoác', 0)
INSERT [dbo].[Categories] ([Id], [Name], [IsDeleted]) VALUES (3, N'Áo Polo', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([Id], [Code], [DiscountType], [DiscountValue], [MinOrderValue], [MaxUsage], [UsedCount], [StartDate], [EndDate], [IsActive]) VALUES (1, N'WELCOME10', 1, CAST(10.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), 500, 0, CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), 1)
INSERT [dbo].[Coupons] ([Id], [Code], [DiscountType], [DiscountValue], [MinOrderValue], [MaxUsage], [UsedCount], [StartDate], [EndDate], [IsActive]) VALUES (2, N'SALE50K', 2, CAST(50000.00 AS Decimal(18, 2)), CAST(300000.00 AS Decimal(18, 2)), 200, 0, CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Details] ON 

INSERT [dbo].[Order_Details] ([Id], [OrderId], [ProductId], [Price], [Quantity]) VALUES (1, 1, 5, CAST(165000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Order_Details] ([Id], [OrderId], [ProductId], [Price], [Quantity]) VALUES (2, 1, 7, CAST(159000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Order_Details] ([Id], [OrderId], [ProductId], [Price], [Quantity]) VALUES (3, 1, 8, CAST(159000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Order_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [AccountId], [CreateDate], [Address], [SubTotal], [DiscountAmount], [CouponId], [Total], [Status]) VALUES (1, 1, CAST(N'2025-02-18T00:00:00.000' AS DateTime), N'965 Quang Trung', CAST(483000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(483000.00 AS Decimal(18, 2)), 3)
INSERT [dbo].[Orders] ([Id], [AccountId], [CreateDate], [Address], [SubTotal], [DiscountAmount], [CouponId], [Total], [Status]) VALUES (2, 2, CAST(N'2025-02-18T00:00:00.000' AS DateTime), N'Gò Vấp', CAST(261000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(261000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Orders] ([Id], [AccountId], [CreateDate], [Address], [SubTotal], [DiscountAmount], [CouponId], [Total], [Status]) VALUES (3, 1, CAST(N'2025-02-18T00:00:00.000' AS DateTime), N'965 Quang Trung', CAST(350000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(350000.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl], [IsPrimary], [SortOrder], [AiLabels]) VALUES (1, 1, N'aothun_basic1.webp', 1, 0, NULL)
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl], [IsPrimary], [SortOrder], [AiLabels]) VALUES (2, 1, N'aothun_basic2.webp', 0, 1, NULL)
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl], [IsPrimary], [SortOrder], [AiLabels]) VALUES (3, 1, N'aothun_basic3.webp', 0, 2, NULL)
GO
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [CreateDate], [Quantity], [CategoryId], [IsDeleted]) VALUES (1, N'Áo Thun Basic Nam', NULL, CAST(165000.00 AS Decimal(18, 2)), CAST(N'2023-05-01' AS Date), 100, 1, 0)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [CreateDate], [Quantity], [CategoryId], [IsDeleted]) VALUES (2, N'Áo Thun Basic Nữ', NULL, CAST(170000.00 AS Decimal(18, 2)), CAST(N'2023-05-02' AS Date), 150, 1, 0)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [CreateDate], [Quantity], [CategoryId], [IsDeleted]) VALUES (3, N'Áo Thun In Hình Độc', NULL, CAST(185000.00 AS Decimal(18, 2)), CAST(N'2023-05-03' AS Date), 120, 1, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([Id], [ProductId], [DiscountPercent], [StartDate], [EndDate], [IsActive]) VALUES (1, 5, CAST(20.00 AS Decimal(5, 2)), CAST(N'2026-06-01' AS Date), CAST(N'2026-12-31' AS Date), 1)
INSERT [dbo].[Promotions] ([Id], [ProductId], [DiscountPercent], [StartDate], [EndDate], [IsActive]) VALUES (2, 9, CAST(15.00 AS Decimal(5, 2)), CAST(N'2026-06-01' AS Date), CAST(N'2026-12-31' AS Date), 1)
INSERT [dbo].[Promotions] ([Id], [ProductId], [DiscountPercent], [StartDate], [EndDate], [IsActive]) VALUES (3, 23, CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-06-01' AS Date), CAST(N'2026-12-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__536C85E467FA2C8C]    Script Date: 7/3/2026 2:09:17 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__A9D10534004E0630]    Script Date: 7/3/2026 2:09:17 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Coupons__A25C5AA76FA3B85E]    Script Date: 7/3/2026 2:09:17 PM ******/
ALTER TABLE [dbo].[Coupons] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductImages_ProductId]    Script Date: 7/3/2026 2:09:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_ProductId] ON [dbo].[ProductImages]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [IsActivated]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [MinOrderValue]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([date],getdate())) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Accounts]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Products]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Accounts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Coupons] FOREIGN KEY([CouponId])
REFERENCES [dbo].[Coupons] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Coupons]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [FK_Promotions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [FK_Promotions_Products]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD CHECK  (([DiscountType]=(2) OR [DiscountType]=(1)))
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_Dates] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_Dates]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]>=(0) AND [Status]<=(4)))
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Dates] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Dates]
GO
USE [master]
GO
